.errorWrapper {
  position: relative;
  width: 100vw;
  background-color: #7ed0f2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .box {
    max-width: 70%;
    min-height: auto;
    margin: 0 auto;
    text-align: center;

    p:not(:last-of-type) { text-shadow: 0 0 6px #216f79; }
    
    p {
        margin-bottom: 5px;
        font-size: 30px;

        img { vertical-align: bottom; }

        a {
            border-bottom: 1px dashed #216f79;
            font-style: italic;
            text-decoration: none;
            color: #216f79;
            cursor: pointer;

            &:hover { 
                text-shadow: 0 0 6px #216f79; 
            }
        }
    }
  }
}